name: Auto Deploy
on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Deploy
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: localhost
        username: codespace
        key: ${{ secrets.SERVER_KEY }}
        script: |
          sudo rm -rf /var/www/html/*
          sudo cp -r * /var/www/html/

